{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

<div class="intro">
  <div class="bio">
    <div>
      <p>Hi, I'm Callum 👋</p>
      <p>I am product-first Data Scientist at <a id="link" href="https://www.sidekickhealth.com">Sidekick Health</a>
        interested in all aspects of product development; from engineering and
        statistics, to marketing and design. I just like it all. </p>
      <p><b>Keywords: </b>causal inference, experiments, machine learning, dataviz, dbt, python, bayes, rock climbing,
        coffee, fantasy premier league, frisbee-golf.</p>
    </div>
  </div>
  <div class="picture">
    <img alt="profile picture of callum" src="{{ '/static/callum-dark-blue.jpeg'|url }}">
  </div>
</div>

<div class="index-posts">

  <div class="legend">Blog Posts</div>

  {% for post in this.pagination.items %}
  <a href="{{ post|url }}" class="post">
    <div class="title">{{ post.title }}</div>
    <div class="date">{{ post.pub_date|dateformat('long') }}</div>
  </a>
  {% endfor %}

  {% if this.pagination.pages > 1 %}
  {{ render_pagination(this.pagination) }}
  {% endif %}

</div>

{% endblock %}